body {
  position: relative;
  font-size: 15px;
  font-family: 'Courier New', serif;
  background-image: linear-gradient(lightgrey,black);
  text-align:justify;
  color: black;
  overflow-x: hidden;
}

.reg {
  margin: 100px;
}

h2 {
  font-family: 'Courier New', serif;
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-align: center;
}

p {
  font-family: 'Courier New', serif;
}

a {
  text-decoration: none;
}

.white {
  color:white;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}

.iyearned {
  position: relative;
  margin-top:-60px;
  margin-bottom: -50px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  color: lightgrey;
  padding: 10px;
  justify-content: center;
  text-align: center;
}
.blocks {
  position: relative;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  max-width: 70px;
  margin: 3px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: black;
  justify-content: center;
  text-align: center;
  opacity: 50%;
}

.twobox{
  position: relative;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 25px;
}
.twosides {
  position: relative;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  width: 48%;
  font-size: 25px;
}
.two {
  position: relative;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  font-size: 25px;
}
.twot {
  position: absolute;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 25px;
}
.twot:hover {
 opacity: 20%;
}

.looksky {
  position: relative;
  background-image: url("clouds.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightgrey;
  width: 100vw;
  left: -10px;
  text-align: center;
}
.intext {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 30vh;
  padding-bottom: 30vh;
  font-size: 15px;
  line-height: 25px;
  background-image: linear-gradient(grey,black);
  opacity: 75%;
  color: white;
}
.intext:hover {
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
  line-height: 40px;
  background-image: linear-gradient(grey,black);
  opacity: 75%;
  color: white;
  transition: 2s;
}



.ch21 {
  position: relative;
  font-size: 15px;
  color: lightgrey;
}
.fuckening {
  position: relative;
  color: white;
  margin: 10px;
  height: 2000px;
  line-height: 25px;
}

.first {
  position: absolute;
  width: 45%;
  top: 0px;
  left: 0px;
  letter-spacing: -5px;
}
.imagine {
  position: absolute;
  width: 45%;
  top: 100px;
  left: 0px;
  letter-spacing: -5px;
}
.nowadd {
  position: absolute;
  width: 45%;
  top: 200px;
  left: 0px;
  letter-spacing: -5px;
}
.iwasaw {
  position: absolute;
  width: 45%;
  top: 300px;
  left: 0px;
  letter-spacing: -5px;
}
.nowwhy {
  position: absolute;
  width: 45%;
  top: 400px;
  left: 0px;
  letter-spacing: -5px;
}
.thelower {
  position: absolute;
  width: 45%;
  top: 500px;
  left: 0px;
  letter-spacing: -5px;
}
.thehigher {
  position: absolute;
  width: 45%;
  top: 600px;
  left: 0px;
  letter-spacing: -5px;
}
.oncethe {
  position: absolute;
  width: 45%;
  top: 700px;
  left: 0px;
  letter-spacing: -5px;
}
.producing {
  position: absolute;
  width: 45%;
  top: 800px;
  left: 0px;
  letter-spacing: -5px;
}
.thatproducing {
  position: absolute;
  width: 45%;
  top: 900px;
  left: 0px;
  letter-spacing: -5px;
}
.thati {
  position: absolute;
  width: 45%;
  top: 1000px;
  left: 0px;
  letter-spacing: -5px;
}
.itwasthis {
  position: absolute;
  width: 45%;
  top: 1100px;
  left: 0px;
  letter-spacing: -5px;
}
.itwasclear {
  position: absolute;
  width: 45%;
  top: 1200px;
  left: 0px;
  letter-spacing: -5px;
}
.butlodown {
  position: absolute;
  width: 45%;
  top: 1300px;
  left: 0px;
  letter-spacing: -5px;
}
.whileaaron {
  position: absolute;
  width: 45%;
  top: 1400px;
  left: 0px;
  letter-spacing: -5px;
}

.first:hover {
  left: 50%;
  letter-spacing: normal;
}
.imagine:hover {
  left: 50%;
  letter-spacing: normal;
}
.nowadd:hover {
  left: 50%;
  letter-spacing: normal;
}
.iwasaw:hover {
  left: 50%;
  letter-spacing: normal;
}
.nowwhy:hover {
  left: 50%;
  letter-spacing: normal;
}
.thelower:hover {
  left: 50%;
  letter-spacing: normal;
}
.thehigher:hover {
  left: 50%;
  letter-spacing: normal;
}
.oncethe:hover {
  left: 50%;
  letter-spacing: normal;
}
.producing:hover {
  left: 50%;
  letter-spacing: normal;
}
.thatproducing:hover {
  left: 50%;
  letter-spacing: normal;
}
.thati:hover {
  left: 50%;
  letter-spacing: normal;
}
.itwasthis:hover {
  left: 50%;
  letter-spacing: normal;
}
.itwasclear:hover {
  left: 50%;
  letter-spacing: normal;
}
.butlodown:hover {
  left: 50%;
  letter-spacing: normal;
}
.whileaaron:hover {
  left: 50%;
  letter-spacing: normal;
}



.decor {
  position: relative;
  top: 1700px;
}







@media only screen and (max-width: 700px) {

.twot {
  opacity: 40%
}
}
