body {
  position: relative;
  font-size: 10px;
  font-family: 'Courier New', serif;
  background-color: lightgrey;
  margin: 100px;
}

h2 {
  font-family: 'Times New Roman', serif;
  font-size: 30px;
  color: blue;
}

p {
  font-family: 'Courier New', serif;
  font-size: 15px;
  color: black;
  text-indent: 20px;
}
